header {
    text-align: center;
    padding: 20px 10px;
    /* Added horizontal padding */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    /* Optional: max width for larger screens */
    margin-left: auto;
    /* Centering the header */
    margin-right: auto;
    /* Centering the header */
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    height: 300px;
    width: 100%;
    margin-top: 20px;
}

#location-input {
    width: 90%;
    /* More responsive width */
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#results h3 {
    color: #333;
}

#results p {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.results-container {
    display: block;
    /* Stack on small screens */
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

#results-walking {
    order: 1;
    /* Ensures walking results are first */
}

#results-biking {
    order: 2;
    /* Ensures biking results are second */
}


.result-section {
    margin: 10px 0;
    padding: 10px;
    flex: 1;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.selected-direction {
    background-color: #e0f7fa;
    /* light blue background for highlight */
    border: 1px solid #4CAF50;
    /* green border */
}

/* Styles for larger screens */
@media (min-width: 600px) {
    #map {
        height: 400px;
        /* Larger height for larger screens */
        width: 80%;
        /* Adjusted width */
    }

    .results-container {
        display: flex;
        justify-content: space-between;
    }

    .result-section {
        flex: 1;
        margin: 10px;
    }
}